.Header {
}

.title {
  font-family: cursive;
  text-shadow: 10px 5px 5px lightgray;
  text-align: center;
  padding-top: 20px;
  font-size: 70px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.light {
  background-color: white;
  color: black;
}

.headerbuttons {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  font-size: 16px;
}

label {
  margin-left: 10px;
  text-shadow: 10px 5px 5px gray;
}

.homelink {
  color: black;
  margin-top: 10px;
  margin-left: 5px;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  border: 1px solid black;
  box-shadow: 10px 5px 5px gray;
}

.dark {
  background-color: black;
  color: white;
}

.linkcontainer {
  display: flex;
}
